/* <!-- nav bar --> */
.h-wrapper {
  width: 100%;
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  background: var(--body-bg);
  z-index: 1000;
}
.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 2rem 4rem;
  position: relative;
}
.logo {
  font-size: 1.5rem;
  position: relative;
  gap: 1rem;
}
.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 33%;
}
.links {
  list-style: none;
  font-weight: bold;
}
.links > *:hover {
  color: var(--color-orange);
  scale: 1.1;
  transition: all 0.3s;
}
.menu-icon {
  display: none;
}
@media (max-width: 768px) {
  .links {
    position: fixed; /* Use fixed instead of absolute for full-screen overlay */
    top: 5rem;
    right: -100%; /* Start off-screen */
    height: 200px;
    width: 100px; /* Adjust as needed */
    border-radius: 10px;
    background: var(--orange);
    box-shadow: var(--shadow);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out; /* Add transition */
    z-index: 1000; /* Ensure menu is above other content */
  }
  .menu-icon {
    display: block;
  }
}
