/* <!-- footer section  --> */
.footer {
  min-height: 20vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.footer .top {
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
  gap: 10rem;
}
.footer .bottom {
  align-items: center;
}
@media (max-width: 768px) {
  .footer .top {
    gap: 2rem;
  }
}
